@media (max-width: 420px) {

    nav{
        flex-direction: column;     

        img{
            width: 45%;
            height: 45%;
        }

        ul{
            margin-top: 20px;
            justify-content: center;
        }
    
    }

    a {
        font-size: 17px;
    }
    
    #contenthome {
        img{
            height: 200px;
            width: 300px;
        }
    }
    
    .content {
        img{
            width: 100px;
            height: 100px;
        }
    }
    .contentgun{
        display: block;

        img{
            width: 300px;
            height: 300px;
        }
        
    }

    #contentcontact {
        form{
            width: 100%;
        
        }
    }

    .contentgun {
        table{
            display: flex;
            align-content: center;
        }
    }
    
}