#contentcontact{
    display: flex;
    justify-content: center;

    form{
        background-color: $primary-color;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 1% 2%;
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 50%;
        width: 50%;

        input{
            color: $primary-color;
            display: block;
            margin: 10px 0px;
            width: 200px;
        
        }

        textarea{
            color: $primary-color;
            width: 100%;
            height: 500px;
        }
    
    }

    #inputs-contact{
        display: flex;
        justify-content: space-between;
        
        input{
            height: 30px;
            background-color: $fourth-color;
            color: $secondary-color;
            border: inset 0.5px $secondary-color;
            transition: all 0.5s;
            &:hover{
                background-color: $secondary-color;
                color: $tertiary-color;
                border: inset 0.5px $tertiary-color;
            }
        }
    }

}

.titlegun{
    display: flex;
    justify-content: center;

}