.content{
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: flex-start;
        align-items: baseline;
    }

    li{
        margin-right: 4%;
        margin-bottom: 2%;
        border-bottom: inset 3px #08142b;
        background-color: #020408;
        border-radius: 10px;
        padding: 0.5% 1.4%;
    }

    img{
        width: 150px;
        height: 150px;
    }
}