nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
    background-color: $primary-color;
    border-bottom: inset 2px $fourth-color;

    img{
        width: 10%;
        height: 10%;
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;

        li{
            padding: 2% 5%;
            border-right: solid 2px $secondary-color;
            &:last-child{
                border-right: unset;
            }

            &:hover .menuvertical{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                transform: translateX(-27px);
            }
        }
    }
   
}

.menuvertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: $fourth-color;

    li{
        display: flex;
        padding: 15px 0px;
        margin: 0px 10px;
        background-color: $fourth-color;
        border-right: unset;
        border-bottom: solid 2px $secondary-color;
        justify-content: center;

        &:last-child{
            border-bottom: unset;
        }
    }
}